body{
    background-color: #0070A2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    content: "";
    justify-content: center;
    align-items: center;
    display: flex;
}
h2{
    font-size: 12px;
    margin-top: 10px;
}

img{
    width:340px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 200px;
   
}
.login{
    padding: 300px;
    justify-content:center;
    display: flex;
    top: 50px;
    margin-left: 252px;
}

#usuario{
    padding: 10px;
    height: 10px;
    border-radius: 10px;
    width: 301px;
    
}
#senha{
padding: 10px;
height: 10px;
display: flex;
margin-top: 10px;
border-radius: 10px;
width: 301px;
}

#esqsenha{
padding: auto;
display: flex;
font-size: 12px;
float: right;
color: white;
text-decoration: none;
margin-top: 8px;
margin-right: 230px;
}
#mostrasenha{
    margin: 0;
    top: 100px;

}

#btao{
background-color:#1E4D63;
margin-top: 49px;
font-size: 20px;
display: flex;
align-items: center;
border-radius: 10px;
color: white;
justify-content: center;
content: none;
width: 320px;
cursor: pointer;
height: 42px

}
